:root {
    --white-color: white;
    --black-color: black;
    --text-color: #333;
    --primary-color: #f53;
    --border-color: #bdbdbd;
    --header-height: 120px;
    --navbar-height:34px;
    --header-width-search-height: calc(var(--header-height) - var(--navbar-height))
}
* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 12px;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display:flex;
    flex-wrap: wrap;
}