#header {
    height:120px;
    background-image: linear-gradient(0, rgb(232,98,46),rgb(230,59,44));
    font-size: 1.6rem;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    list-style: none;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 300;
}
.header__navbar-item--strong {
    font-weight: 400;
}
.header__navbar-item--separate {
  

}
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-right: 1px solid black;
    height: 12px;
    right: 0;
    top: 0;
}
    
    