/* MOBILE & TABLETS */
@media (max-width:1023px) {
    :root {
        --header-height: 74px;
        --navbar-height:0px ;
        --header__sort-bar-height: 64px;
    }
    .hide-on-mobile-tablet {
        display: none;
    }    
    #header {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
    }
    .app__container {
        margin-top: calc(var(--header-height) + var(--header__sort-bar-height))
    }
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width:100%;
        padding: 0 calc((100% - 644px) / 2)
    }
    .header__cart-list::before {
        display: none;
    }
    .header__sort-bar {
        display: flex;
    }
}
/* TABLET */
@media (min-width:740px) and (max-width:1023px) {
    .hide-on-tablet {
        display: none;
    }    
}
/* MOBILE */
@media (max-width:739px) {
    .hide-on-mobile {
        display: none;
    }    
    .header-with-search {
        justify-content: space-between
    }
    .header__logo-img {
        width: unset
    }
    .header__cart {
        width: unset
    }
    .header__cart-wrap {
        padding: 0 12px 0 0 ;
    }
    .header__search {
        position: fixed;
        top: var(--header-height);
        right: 0;
        left: 0;
        height: 46px;
        box-shadow: 0 1px 2px #f1dede;
        z-index: 1;
        padding: 0 16px;
    }
    @keyframes mobileSearchSideIn {
        from {
            top: calc(var(--header-height) / 2)
        }
        to {
            var(--header-height)
        }
    }
}