* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
#main {

}
#header {
    background: black;
    height: 46px;
}
#nav {

}
#nav li {
    display: inline-block;
}
#nav li a {
    color: white;
    text-decoration: none;
    line-height: 46px;
}
#silder {

}
#content {

}
#footer {

}